spring.datasource.url                                       = jdbc:mysql://[host]:[port]/[database_name]?serverTimezone=UTC
spring.datasource.username                                  = [user]
spring.datasource.password                                  = [password]

spring.jpa.hibernate.ddl-auto                               = validate
spring.sql.init.mode                                        = always

spring.jpa.properties.hibernate.format_sql                  = true

#Pretty Logging JPA Queries (recommended)
#logging.level.org.hibernate.SQL                             = trace
#logging.level.org.hibernate.type.description.sql.format_sql = debug
#logging.level.org.hibernate.type.descriptor.sql.BasicBinder = trace
logging.level.com.paymybuddy.paymybuddy.controllers = info

logging.file.name                                        = logs/paymybuddy.log