<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>

<div th:replace="fragments/head.html :: head"></div>

<body>
<nav>
    <div class="navbar bg-white px-3">
        <button class="btn btn-success logo" type="button">Pay My Buddy</button>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Transfert</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Log off</a>
            </li>
        </ul>
    </div>
    <div class="navbar bg-light">
        <ul class="nav d-flex">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <span class="nav-link">/</span>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Transfert</a>
            </li>
        </ul>
    </div>
</nav>
<main>
    <section class="py-3">

        <div th:replace="fragments/alert.html :: alert"></div>

        <div class="d-flex justify-content-between align-self-end mt-3">
            <h1>Send Money</h1>
            <button
                    class="btn-primary btn align-self-center px-4"
                    data-bs-target="#staticBackdrop1"
                    data-bs-toggle="modal"
                    type="button"
            >Add Connection
            </button>
            <!-- Modal for add new connexion -->
            <div
                    aria-hidden="true"
                    aria-labelledby="staticBackdropLabel"
                    class="modal fade"
                    data-bs-backdrop="static"
                    data-bs-keyboard="false"
                    id="staticBackdrop1"
                    tabindex="-1"
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form
                                class="d-flex justify-content-around bg-light" method="POST"
                                th:action="@{/connect}"
                        >
                            <div class="modal-body">
                                <label class="field form-control border-light">
                                    <input
                                            class="field form-control"
                                            placeholder="Enter the beneficiary's email"
                                            th:name="email"
                                            type=text
                                            value=""
                                    >
                                </label>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger" data-bs-dismiss="modal" type="button">Cancel</button>
                                <button class="btn btn-primary" type="submit">Confirm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <form
                class="d-flex justify-content-around bg-light" method="POST"
                th:action="@{/transactions}"
        >
            <div class="donor">

                <input th:name="donor" th:value="${currentUser.getId()}" type="hidden">

                <label class="field">
                    <select th:name="beneficiary">
                        <option disabled selected>-- Select A Connexion --</option>
                        <option
                                th:each="beneficiary : ${beneficiaries}"
                                th:text="${beneficiary.getFullName()}"
                                th:value="${beneficiary.getId()}"
                        ></option>
                    </select>
                </label>
                <label class="field">
                    <input min="0.01" step="0.01" th:name="amount" th:value="0.00" type="number">
                </label>
                <div class="field">
                    <button
                            class="btn btn-success custom-green" data-bs-target="#staticBackdrop"
                            data-bs-toggle="modal"
                            type="button"
                    >
                        Pay
                    </button>
                </div>
            </div>
            <!-- Modal for adding the description -->
            <div
                    aria-hidden="true"
                    aria-labelledby="staticBackdropLabel"
                    class="modal fade"
                    data-bs-backdrop="static"
                    data-bs-keyboard="false"
                    id="staticBackdrop"
                    tabindex="-1"
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <label class="field form-control border-light">
                                <input
                                        class="field form-control"
                                        placeholder="Please add a short description"
                                        th:name="description"
                                        type=text
                                        value=""
                                >
                            </label>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" data-bs-dismiss="modal" type="button">Cancel</button>
                            <button class="btn btn-primary" type="submit">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <section>
        <h1>My transactions</h1>
        <table class="table table-striped border border-dark">
            <thead class="custom-green align-middle">
            <tr>
                <th class="custom-green" colspan="2">Connexions</th>
                <th class="custom-green" colspan="5">Descriptions</th>
                <th class="custom-green" colspan="1">Amounts</th>
            </tr>
            </thead>
            <tbody class="align-middle">
            <tr th:if="${transactions.size() <= 0}">
                <td colspan="8">You have not sent/received any transfers at the moment.</td>
            </tr>
            <tr th:each="transaction : ${transactions}">
                <td colspan="2" th:text="${transaction.beneficiary.getFullName()}"></td>
                <td colspan="5" th:text="${transaction.description}"></td>
                <td colspan="1" th:text="${transaction.amount}"></td>
            </tr>
            </tbody>
        </table>
        <div class="page" th:if="${transactions.size() > 0}">
            <a class="rounded-start btn">«</a>
            <a
                    class="btn"
                    th:each="i: ${#numbers.sequence(0, (totalTransactions %3 == 0 ? totalPages - 1 : totalPages))}"
                    th:href="@{/transactions(page=${i+1})}"
                    th:text="${i+1}"
            ></a>
            <a class="rounded-end btn">»</a>
        </div>
    </section>

</main>

<div th:replace="fragments/script.html :: script"></div>

</body>
</html>